websockets==14.1
aiohttp==3.10.11
aiohttp-retry==2.8.3
eth-account>=0.13.1,<1.0
eth-keys==0.5.1
eth-utils>=5.0.0
web3==7.7.0
pycryptodome==3.21.0
python-dotenv==1.0.1
typing-extensions==4.12.2
colorama==0.4.6
lighter-sdk
